<nav>
    <div class="nav-wrapper teal">
      <a href="#" class="brand-logo right">Peliculas</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a [routerLink]="['Peliculas']">Inicio</a></li>
        <li><a href="badges.html">Añadir pelicula</a></li>
        <li><a [routerLink]="['Contacto']">Contacto</a></li>
      </ul>
    </div>
  </nav>

<div class="row">
    <div class="col s12 m12">
        <div class="card-panel teal">
            <h1 class="white-text">{{titulo}}</h1>
            <p class="white-text">Pelicula Favorita</p>
            <router-outlet></router-outlet>

        </div>
    </div>
</div>
<peliculas-footer></peliculas-footer>
